image: maven:3.9.9-eclipse-temurin-21

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

stages:
  - build
  - package
  - sonar

build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B compile
  artifacts:
    paths:
      - target/classes/

sonar:
  stage: sonar
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - sonar-scanner/
  script:
    - mvn org.sonarsource.scanner.maven:sonar-maven-plugin:sonar

  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "develop"


package:
  stage: package
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B package -DskipTests
  artifacts:
    paths:
      - dist/schema2script.jar

