image: maven:3.9.9-eclipse-temurin-21

variables:
  SONAR_USER_HOME: "${CI_PROJECT_DIR}/.sonar"
  GIT_DEPTH: "0"

stages:
  - build
  - package
  - sonar

# --- Build job ---
build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B compile
  artifacts:
    paths:
      - target/classes/

# --- Package job ---
package:
  stage: package
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B package -DskipTests
  artifacts:
    paths:
      - dist/schema2script.jar

# --- SonarQube analysis job ---
sonar:
  stage: sonar
  image: maven:3.9.9-eclipse-temurin-21
  cache:
    policy: pull-push
    key: "sonar-cache-$CI_COMMIT_REF_SLUG"
    paths:
      - "${SONAR_USER_HOME}/cache"
      - sonar-scanner/
  script:
    - mvn verify org.sonarsource.scanner.maven:sonar \
        -Dsonar.projectKey=rit-croatia_iste-422_schema2script800g7_17fb4abf-0161-43f8-addf-a2dde3354a60 \
        -Dsonar.organization=rit-croatia \
        -Dsonar.host.url=https://sonarcloud.io \
        -Dsonar.login=$SONAR_TOKEN
  allow_failure: true
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == "master"
    - if: $CI_COMMIT_BRANCH == "main"
    - if: $CI_COMMIT_BRANCH == "develop"