stages:
  - build
  - package

build:
  stage: build
  image: eclipse-temurin:21
  script:
    - mkdir -p classes
    - javac -d classes $(find src -name "*.java")
  artifacts:
    paths:
      - classes/

package:
  stage: package
  image: eclipse-temurin:21
  script:
    - mkdir -p dist
    - jar cvf dist/schema2script.jar -C classes .
  artifacts:
    paths:
      - dist/schema2script.jar
