stages:
  - build
  - package

build:
  stage: build
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B compile
  artifacts:
    paths:
      - target/classes/

package:
  stage: package
  image: maven:3.9.9-eclipse-temurin-21
  script:
    - mvn -B package -DskipTests
    - mkdir -p dist
    - cp target/*.jar dist/schema2script.jar
  artifacts:
    paths:
      - dist/schema2script.jar
